div.home {
    background-image: url(/Images/pexels-hasan-albari-1229861.jpg);
    color: white;
    padding-bottom: 600px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.header {
    display: flex;
    justify-content: space-around;
}

header {
    display: flex;
    flex-direction: row;
    align-items:center;
    align-content: center;

}

#header {
    margin: 20px 15px 0px 15px;
}


#home-text {
    padding-top: 350px;
}

#home-text-2 {
    font-size: 70px;
}
.home-center {
    text-align: center;
}

div.phrase {
    background-color: rgb(236, 236, 236);
    padding-bottom: 50px;
}

#phrase {
    font-size: larger;
    text-align: center;
    align-items: center;
    padding-top: 50px;
}

div.upcoming-events {
    background-color: white;
    
}

.titles {
    font-size: xx-large;
}

#title-events {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.upcoming-events1 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 150px;
}

#paisagem {
    margin: 50px 0 0 0;
    padding: 0;
}

.text-events {
    margin: 30px 0px 30px 0px;
}

.explore-the-learn {
    background-image: url(images/notebook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    color: white;
    flex-direction: row;
    text-align: center;
    justify-content: center;

}

.explore-the-learn-text {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    padding: 200px 0px;
    margin-right: 10%;
    margin-left: 10%;

}

#learn-text {
    display: flex;
    text-align: justify;
    width: 500px;
}

.tour-content {
    padding: 150px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0% 20%;
}

.tour-text {
    width: 350px;
}

.grid {
    padding: 10px;
}

