div.home {
    background-image: url(/Images/pexels-hasan-albari-1229861.jpg);
    color: white;
    padding-bottom: 600px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.header {
    display: flex;
    justify-content: space-around;
}

header {
    display: flex;
    flex-direction: row;
    align-items:center;
    align-content: center;

}

#header {
    margin: 20px 15px 0px 15px;
}


#home-text {
    padding-top: 350px;
}

#home-text-2 {
    font-size: 70px;
}
.home-center {
    text-align: center;
}


div.phrase {
    background-color: rgb(236, 236, 236);
    padding-bottom: 50px;
}

#phrase {
    font-size: larger;
    text-align: center;
    align-items: center;
    padding-top: 50px;
}

div.upcoming-events {
    background-color: white;
    padding-bottom: 100px;
}

#title-events {
    text-align: center;
    font-size: xx-large;
    padding-top: 100px;
}

.upcoming-events1 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#paisagem {
    margin: 50px 0px 0px 0px;
}

.text-events {
    margin: 30px 0px 30px 0px;
}

.explore-the-learn {
    background-image: url(images/notebook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    padding: 0px 0px 350px 0px;
    color: white;

}

.explore-the-learn-text {
    display: flex;
    justify-content: space-around;
}

#learn-text {
    font-size: xx-large;
    padding-top: 150px;

}

.dale {
    padding-bottom: 3000px;
}